/*------SIMPLE_GRID-----*/


body{
    background: #353434;
}
.container{
color: aliceblue;

}
.header{
grid-area: header;
color: black;
text-align: center;
background-image: url(./Images/johannesburg.jpeg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size:100% 50%;
}
h1, h2 h3, h4{
    text-align: center;
}

.main{
padding:20px;
background: #343a40;
border-radius: 5px;
margin-top: 20px;
border: 2px solid cyan;   
}
.contents{
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    
}
.anime{
    text-align: center;
}  
table{
    text-align: center;
}
.content{
    background: #343a40;
    border-radius: 10px;
 text-align: center;
 border: 1px solid cyan;
 
}

.footer{
    background: cyan;
    width: 100%;
    height: 2vh;
    
    
}
